.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-title {
  margin-top: 5rem;
  text-align: center;
  font-size: var(--header-2);
}

.category {
  margin-top: 4rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 40%));
  gap: 2rem;
}

.image-container {
  position: relative;
}
