.sidebar-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.sidebar-item-container:hover {
  background-color: var(--secondary-color);
}

.sidebar-item-icon {
  margin: 0 1.5rem 0 2rem;
  display: flex;
}
.sidebar-item-icon svg {
  width: 2.3rem;
}

.active {
  background-color: var(--secondary-color);
}
