.video-display {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
  gap: 4rem;
}

.container {
  padding: 1rem;
}

.filters {
  display: flex;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-bar > button {
  background: none;
}

@media (max-width: 600px) {
  .video-display {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
