.main-container {
  display: flex;
  padding: 1rem;
}

.playlist-info {
  min-height: calc(100vh - 8rem);
  flex: 0 4 400px;
  padding: 1rem;
}

.playlist-videos {
  padding: 1rem;
  flex: 1 2;
}

.empty-playlist-array {
  margin-top: 10rem;
  height: 100%;
  text-align: center;
  font-size: var(--header-1);
}

.sub-message {
  font-size: var(--header-2);
}

@media (max-width: 900px) {
  .playlist-info {
    display: none;
  }
}
