.header-dark {
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 6rem;
  display: flex;
  align-items: center;
  box-shadow: none;
}

.header-dark nav {
  width: 98%;
}

.logo {
  display: flex;
  align-items: center;
}

.header-dark > nav > div > svg {
  min-width: 3rem;
  margin-right: 1rem;
}

.header-dark button {
  background: none;
  font-size: large;
}

.options-container {
  position: relative;
}

.options-container > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--body-3);
}

.profile-options {
  position: absolute;
  padding: 0.5rem;
  border-radius: var(--radius-3);
  background-color: var(--sub-text-color);
  right: 0;
  display: none;
}

.options-container:hover > .profile-options {
  display: initial;
}

.profile-options button {
  text-align: left;
  font-size: var(--body-3);
  width: 100%;
}
