.container {
  display: flex;
  margin-bottom: 1rem;
}

.channel-info {
  display: flex;
  align-items: center;
}

.channel-info img {
  margin: 0 5px 0 0;
}

.video-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.video-info > * {
  margin-bottom: 1rem;
}

.title {
  font-size: var(--body-2);
  font-weight: 500;
}

.channel {
  font-size: var(--body-4);
  font-weight: 100;
}
