.container {
  display: flex;
  margin-bottom: 1rem;
  max-width: 70rem;
}

.channel-info {
  display: flex;
  align-items: center;
}

.channel-info img {
  margin: 0 5px 0 0;
}

.video-info {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  width: 100%;
}
.video-info > div > * {
  margin-bottom: 1rem;
}

.title {
  font-size: var(--body-2);
  font-weight: 500;
}

.channel {
  font-size: var(--body-4);
  font-weight: 100;
}

.delete-icon {
  align-self: center;
}

@media (max-width: 800px) {
  img {
    width: 100%;
  }

  .title {
    font-size: var(--body-4);
    font-weight: 500;
  }

  .channel {
    font-size: var(--body-5);
    font-weight: 100;
  }
}
